/* Reset and global styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: rgb(212, 247, 224);
    font-family: 'Roboto', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header Styles */
header h2 {
    text-align: center;
    /* Add additional header styles here */
}

/* Navigation Bar Styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #007bff;
}

/* Main Content Styles */
main {
    max-width: 1000px;
    margin: 0 auto;
    color: dimgrey;
    padding: 1em 2em;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 1.5em;
    color: darkgreen;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="reset"],
input[type="submit"] {
    padding: 10px;
/*    margin: 5px 0 20px 0;   */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
}

input[type="reset"] {
    background-color: #f44336;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.9;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1em 0;
}

